<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.osuhooker" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application android:label="OsuHooker">
        
        <!-- Xposed info -->
        <meta-data 
            android:name="xposedmodule"
            android:value="true" />
        <meta-data 
            android:name="xposedmoddescription"
            android:value="osu!lazer timing hooker" />
        
    </application>
</manifest>