<?xml version="1.0" encoding="utf-8"?>
<manifest version="1" package="com.osuhooker">
    <!-- osu!lazer COMPLETE HOOKER - Xposed/LSPosed -->
    
    <application>
        <!-- Xposed info -->
        <meta-data 
            name="xposedmodule"
            value="com.osuhooker.OsuHooker" />
        <meta-data 
            name="xposedminversion"
            value="14" />
        
        <!-- LSPosed info -->
        <meta-data 
            name="org.lsposed.manager"
            value="true" />
    </application>
    
    <uses-package name="com.ppy.osulazer" />
</manifest>