<?xml version="1.0" encoding="utf-8"?>
<manifest version="1" package="com.osuhooker">
    <!-- osu!lazer LSPosed Module -->
    
    <application>
        <meta-data
            name="org.lsposed.manager"
            value="true" />
    </application>
    
    <!-- osu!lazer package -->
    <uses-package name="com.ppy.osulazer" />
    
    <!-- Required for Xposed -->
    <uses-library name="com.android.category.LSPOSED" required="true"/>
</manifest>