<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.osuloader">
    <application android:label="OsuLoader">
        <activity android:name=".OsuLoader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>